@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #1a1a1a;
  color: white;
}

@font-face {
  font-family: 'Hirace';
  src: url('/fonts/Hirace.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}